/* Reset padrão */
* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Define fonte padrão */
}

html {
    font-size: 16px;
}

body {
    background-color: #FAF9F6;
    color: #264653;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Container do formulário */
.div-form {
    background-color: #2A9D8F;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
    width: 100%;
    max-width: 500px;
}

/* Formulário */
form {
    display: flex;
    flex-direction: column;
}

h2, p {
    text-align: center;
    margin-bottom: 1.5rem;
    color: #FFFFFF;
}

h2 {
    font-size: 2.25rem;
    text-transform: capitalize;
}

p {
    font-size: 1.25rem;
}

/* Labels */
label {
    margin-bottom: 0.25rem;
    font-weight: bold;
    color: #FFFFFF;
}

/* Inputs */
.dombosco {
    padding: 0.75rem;
    margin-bottom: 1rem;
    font-size: 1rem;
    border-radius: 0.5rem;
    border: 2px solid #fa1905;
    color: #264653;
    background-color: #fff;
}

/* Botão */
.btn-form {
    background-color:  #fa1905;
    color: #FFFFFF;
    font-weight: bold;
    padding: 0.75rem;
    font-size: 1rem;
    border-radius: 0.5rem;
    border: none;
    cursor: pointer;
    transition: 0.5s;
}

.btn-form:hover {
    background-color:#E76F51;
}

/* Link para login */
 .form{
    font-size: 0.95rem;
    text-align: center;
    color: #FFFFFF;
    margin-top: 1rem;
    text-decoration: none;
}
.form p:hover{
    color: yellow;
    transition: 0.5s;
}
/* RESPONSIVIDADE */

/* Telas pequenas - smartphones */
@media (max-width: 768px) {
    html {
        font-size: 15px;
    }

    h2 {
        font-size: 2rem;
    }

    p {
        font-size: 1rem;
    }

    .div-form {
        width: 90%;
        padding: 1.5rem;
    }
}

/* Telas médias - tablets */
@media (min-width: 769px) and (max-width: 1024px) {
    html {
        font-size: 16px;
    }

    h2 {
        font-size: 2.25rem;
    }

    .div-form {
        width: 85%;
    }
}

/* Telas grandes - desktops maiores */
@media (min-width: 1280px) {
    html {
        font-size: 17px;
    }

    .div-form {
        padding: 3rem;
    }

    h2 {
        font-size: 2.5rem;
    }

    .btn-form {
        font-size: 1.1rem;
    }
}